<div class="d-flex justify-content-around">
    <span>Articulo: <input [(ngModel)]="id" size="3"></span>
    <button class="btn btn-success" (click)="ver()">Ver</button>
</div>

<br>

<div class="card" style="width: 18rem;">
    <img src="img/{{articulo.id}}.jpg" class="card-img-top">
    <div class="card-body">
        <h5 class="card-title">{{articulo.nombre}} ({{articulo.unidades}})</h5>
        <p class="card-text">{{articulo.descripcion}}</p>
        <b>
            <p class="card-text text-center">{{articulo.precio}}</p>
        </b>
    </div>
    <button class="btn btn-primary" (click)="comprar(articulo)" [disabled]="articulo.unidades == 0">Comprar</button>
    <button class="btn btn-success" (click)="modificarUnidades(articulo, 1)">Aumentar</button>
    <button class="btn btn-danger" (click)="modificarUnidades(articulo,-1)">Disminuir</button>
</div>