Z.c-cuadrado {
    width: 200px;
    height: 200px;
    background-color: red;

    transition: background-color 2s, transform 2s;
}

.c-cuadrado:hover {
    background-color: blue;
    transform: rotate(45deg);
}