img {
    position: absolute;
    top: 20%;
    left: 20%;

    width: 200px;
    height: 200px;

    transform-origin: top center;
    animation: swing 1.3s ease-in-out alternate infinite;
}

@keyframes swing {
    0% {
        transform: rotate(-50deg);
    }

    2% {
        transform: rotate(-50deg);
    }

    4% {
        transform: rotate(-50deg);
    }

    96% {
        transform: rotate(50deg);
    }

    98% {
        transform: rotate(50deg);
    }

    100% {
        transform: rotate(50deg);
    }
}