$widths: (
    100,
    150,
    200,
    250,
    300,
    350,
    400,
    450,
    500,
    550,
    600
);

$font-sizes: (
    5,
    10,
    15,
    20,
    25,
    30,
);

$paddings: (
    5,
    10,
    15,
    20,
    25,
    30,
);

$margins: (
    5,
    10,
    15,
    20,
    25,
    30,
);


$breakpoints: (
    "\\@tablet": 576px,
    "\\@desktop": 768px,
    "\\@fulldesktop": 992px
);